<div>
  <app-header />

  <section id="support" style="background-color: #f6f7f7">
    <div style="padding-top: 60px; padding-bottom: 60px" class="content">
      <h1>Make Ten Support</h1>
      <br />

      <p>
        Need help with Make Ten, found a bug, or have a suggestion? Get in touch and we'll get back to
        you as soon as we can.
      </p>

      <br />
      <h2>Contact Us</h2>
      <br />

      <p>
        Email us at rojuano.dev@gmail.com with a description of the issue, the device you're using, and
        any steps to reproduce the problem if applicable.
      </p>
    </div>
  </section>

  <section id="footer"><app-footer /></section>
</div>
