<div class="footer">
  <p>Rohan Fredriksson</p>

  <div>
    <a
      href="https://www.linkedin.com/in/rohanfredriksson/"
      style="display: block; width: 48px; height: 48px; float: left; margin-right: 12px"
    >
      <img style="position: relative; width: 48px; height: 48px" src="/linkedin.png" alt="LinkedIn" />
    </a>

    <a
      href="https://github.com/RohanFredriksson"
      style="display: block; width: 48px; height: 48px; overflow: hidden; border-radius: 12px"
    >
      <div
        class="connection"
        style="background-color: black; display: flex; justify-content: center; align-items: center; width: 48px; height: 48px"
      >
        <img style="position: relative; width: 38px; height: 38px" src="/github.png" alt="GitHub" />
      </div>
    </a>
  </div>

  <p class="role">Software Developer</p>
</div>
