<header class="site-header">
  <nav class="nav">
    <a class="brand" routerLink="/">
      <span class="brand-mark">RF</span>
      <span class="brand-name">Rohan&nbsp;Fredriksson</span>
    </a>

    @if (sections.length > 0) {
      <ul class="nav-links">
        @for (section of sections; track section.id) {
          <li>
            <button type="button" class="nav-link" (click)="scrollTo(section.id)">
              {{ section.label }}
            </button>
          </li>
        }
      </ul>
    }
  </nav>
</header>
