<div class="image-gallery">
  @for (image of images; track image.id) {
    <div class="image-container">
      <a [href]="image.href" style="display: block; width: 100%; height: 100%">
        <div [style.backgroundColor]="image.darkBackground ? '#0d1117' : null">
          <app-hover-gif
            [animationSrc]="image.animationSrc"
            [frameSrc]="image.frameSrc"
            [alt]="image.alt"
          />
        </div>
        <div class="image-title">{{ image.title }}</div>
      </a>
    </div>
  }
</div>
