.header  {
  background-color: #101517; 
  height: 88px;
}

.header-link {

  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: none;

  background-color: #101517;
  position: absolute;
  z-index: 100;

  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  border: 1px solid #253035;
  background-color: #101517;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: calc(20px + 0.390625vw);

  right: 50%;
  transform: translate(50%, 0);

  @media screen and (min-width: 768px) {
    right: 75px;
    transform: translate(0, 0);
  }

}

.header-link:hover {
  color: yellow;
}