.gif-container {
  position: relative;
  width: fit-content;
}

.gif-image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.gif-image.static {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.gif-image.animated {
  opacity: 0;
}

.gif-container:hover .gif-image.static {
  opacity: 0;
}

.gif-container:hover .gif-image.animated {
  opacity: 1;
}