.navigation-container {

  position: absolute;
  width: 100%;
  top: 30px;

  display: flex;
  justify-content: center;

  @media screen and (min-width: 769px) {
    justify-content: right;
  }

}

.navigation-list {

  padding: 10px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  border-radius: 10px;
  border: 1px solid #253035;
  background-color: #101517;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @media screen and (min-width: 769px) {
    margin-right: 75px;
  }

}

.navigation-list > li {

  font-size: calc(15px + 0.390625vw);
  list-style-type: none;
  float: right;
  
  margin-left: 7.5px;
  margin-right: 7.5px;

  @media screen and (min-width: 375px) {
    margin-left: 7.5px;
    margin-right: 7.5px;
    font-size: calc(20px + 0.390625vw);
  }

}

.navigation-list :hover {
  color: yellow;
}

.navigation-link {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}