<div class="home-page" style="background-color: #fbfafe">
  <app-header [sections]="sections" />

  <section class="hero" id="home">
    <div class="hero-grid">
      <div class="hero-inner">
        <p class="hero-eyebrow">Hi, my name is</p>
        <h1 class="hero-name">Rohan&nbsp;Fredriksson</h1>
        <div class="hero-rule"></div>
        <p class="hero-role">Software Engineer</p>
        <p class="hero-tagline">I build software with an eye for craft and design.</p>
        <div class="hero-actions">
          <button type="button" class="btn btn-primary" (click)="scrollTo('projects')">
            View Projects
          </button>
          <button type="button" class="btn btn-secondary" (click)="scrollTo('contact')">
            Get in Touch
          </button>
        </div>
      </div>

      <!-- TODO: replace this placeholder with the work showcase animation -->
      <div class="hero-media" aria-hidden="true">
        <div class="hero-media-placeholder">
          <span class="hero-media-label">Showcase animation</span>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #ffffff" id="about">
    <div style="padding-top: 60px; padding-bottom: 60px" class="content">
      <h1>About me</h1>
      <br />

      <div class="column-container">
        <div class="column">
          <p>
            My name is Rohan Fredriksson. I am a software engineer located in Sydney. I'm passionate
            about technology, music, and pretty much anything with artistic vision.
          </p>
          <br />
          <p>
            In 2023, I graduated from the University of Sydney with a Bachelor of Computing, majoring
            in Computer Science. Whilst studying at the University of Sydney, I was awarded the Dean's
            List of Excellence in Academic Performance award.
          </p>
          <br />
          <p>I am always learning new languages and frameworks.</p>
          <br />
          <br />
        </div>

        <div class="column" style="margin-right: 0">
          <img class="badge" alt="typescript" src="https://img.shields.io/badge/typescript-253035?style=for-the-badge&logo=typescript&logoColor=white" />
          <img class="badge" alt="javascript" src="https://img.shields.io/badge/javascript-253035?style=for-the-badge&logo=javascript&logoColor=white" />
          <img class="badge" alt="angular" src="https://img.shields.io/badge/angular-253035?style=for-the-badge&logo=angular&logoColor=white" />
          <img class="badge" alt="react" src="https://img.shields.io/badge/react-253035?style=for-the-badge&logo=react&logoColor=white" />
          <img class="badge" alt="python" src="https://img.shields.io/badge/python-253035?style=for-the-badge&logo=python&logoColor=white" />
          <img class="badge" alt="cdk" src="https://img.shields.io/badge/cdk-253035?style=for-the-badge&logo=openjdk&logoColor=white" />
          <img class="badge" alt="cplusplus" src="https://img.shields.io/badge/c++-253035?style=for-the-badge&logo=cplusplus&logoColor=white" />
          <img class="badge" alt="c" src="https://img.shields.io/badge/c-253035?style=for-the-badge&logo=c&logoColor=white" />
          <img class="badge" alt="opengl" src="https://img.shields.io/badge/opengl-253035?style=for-the-badge&logo=opengl&logoColor=white" />
          <img class="badge" alt="godot" src="https://img.shields.io/badge/godot-253035?style=for-the-badge&logo=godotengine&logoColor=white" />
          <img class="badge" alt="discord" src="https://img.shields.io/badge/discord.js-253035?style=for-the-badge&logo=discord&logoColor=white" />
          <img class="badge" alt="html" src="https://img.shields.io/badge/html-253035?style=for-the-badge&logo=html5&logoColor=white" />
          <img class="badge" alt="css" src="https://img.shields.io/badge/css-253035?style=for-the-badge&logo=css3&logoColor=white" />
          <img class="badge" alt="git" src="https://img.shields.io/badge/git-253035?style=for-the-badge&logo=git&logoColor=white" />
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #f6f7f7" id="projects">
    <div style="padding-top: 60px; padding-bottom: 60px" class="content">
      <h1>Projects</h1>
      <br />
      <p>
        It is a passion of mine to work on projects in my free time, and I love learning new
        frameworks, languages and technologies. Most of my projects are open source and can be found on
        my <a href="https://github.com/RohanFredriksson/">GitHub Profile</a>. A carefully curated
        selection of my best projects are displayed below.
      </p>
      <br />
      <br />
      <app-image-gallery [images]="images" />
    </div>
  </section>

  <section style="background-color: #efeae1" id="contact">
    <div style="padding-top: 60px; padding-bottom: 60px" class="content">
      <h1>Please get in touch!</h1>
      <br />
      <p>
        If you want to work on a project together or just want to connect, feel free to reach out on
        <a href="https://www.linkedin.com/in/rohanfredriksson/">LinkedIn</a>.
      </p>
    </div>
  </section>

  <section id="footer">
    <app-footer />
  </section>
</div>
